<div class="admin-sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo" class="img-fluid">
    </div>
    <h3>لوحة الإدارة</h3>
  </div>
  
  <div class="sidebar-menu">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of menuItems">
        <!-- Menu item with children -->
        <div *ngIf="item.children" class="nav-link parent-menu">
          <a (click)="toggleSubMenu(item.title)" class="d-flex justify-content-between align-items-center">
            <span>
              <i class="bi {{ item.icon }} me-2"></i>
              {{ item.title }}
            </span>
            <i class="bi" [ngClass]="isExpanded(item.title) ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
          </a>
          
          <ul class="submenu" [ngClass]="{'show': isExpanded(item.title)}">
            <li *ngFor="let child of item.children">
              <a [routerLink]="child.route" routerLinkActive="active">
                <i class="bi {{ child.icon }} me-2"></i>
                {{ child.title }}
              </a>
            </li>
          </ul>
        </div>
        
        <!-- Menu item without children -->
        <a *ngIf="!item.children" 
           [routerLink]="item.route" 
           [routerLinkActiveOptions]="{exact: item.exact || false}"
           routerLinkActive="active" 
           class="nav-link">
          <i class="bi {{ item.icon }} me-2"></i>
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</div>
